<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Dar aulas</title>

    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/partials/header.css">

    <link rel="stylesheet" href="/styles/partials/forms.css">

    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">

    <link rel="stylesheet" href="styles/webfonts/font-awesome/fontawesome-all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <link rel="shortout icon" href="/images/favicon.png" type="image/png">

    <script src="/scripts/giveClasses.js" defer></script><!--it will read this script only after a certain time-->
    <script src="/scripts/sidebar.js" defer></script>
    <script src="/scripts/themes.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 
</head>
<body id='page-give-classes'>

    <!-- Sidebar Lateral -->
    <nav class="nav-sidebar" id="nav-sidebar">

        <span class="button-close-sidebar" id="button-close-sidebar">
            <i class="fa fa-arrow-left"></i>
        </span>

        <div class="nav-sidebar-container">

            <div class="top-sidebar">
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <ul class="nav-sidebar-list">
                <li id="home"><i class="solid fa fa-home"></i> Home</li>
                <li id="proffys"><i class="solid fa fa-users"></i> Professores</li>
                <li id="themes">
                    <i class="solid fa fa-palette"></i> 
                    Temas
                    <label class="container-set-theme">
                        <input name="theme" type="checkbox" class="button-set-theme"/>
                        <span class="theme-toggle"></span>
                    </label>
                </li>
                <li id="options"><i class="solid fa fa-cog"></i> Configurações</li>
            </ul>

        </div>
        
    </nav>

    <div id="container">

        <!--Menu-->
        <header class="page-header">

            <div class="background-top-bar-container">

                <div class="top-bar-container">

                    <a href="/">
                        <img src="/images/icons/back.svg" alt="Voltar">
                    </a>
                    <p>Dar aulas</p>
                    <img src="/images//logo.svg" alt="Proffy">

                </div>

            </div>

            <div class="header-content">
                <strong>Que incrível que você quer dar aulas</strong>

                <div class="header-content-text">
                    <p>O primeiro passo, é preencher o formulário de inscrição</p>

                    <div class="header-content-text-rocket">
                        <img src="/images/icons/rocket.svg" alt="Emoij de foguete">
                        <p>Prepare-se! <br> Vai ser o máximo.</p>
                    </div>
                </div>
            </div>

        </header>

        <!--Inscription form here-->
        <main>
            <form id="create-class" action="/save-classes" method="POST">
                <fieldset> <!-- grouping datas -->
                    <legend>Seus dados</legend>

                    <div class="input-block">
                        <label for="name">Nome Completo</label>
                        <input name="name" id="name" required>
                    </div>

                    <div class="inputs-inline">

                        <div class="input-block">
                            <label for="avatar">Link da sua foto <small>(comece com http://)</small></label>
                            <input name="avatar" id="avatar" type="url" required>
                        </div>

                        <div class="input-whatsapp input-block">
                            <label for="whatsapp">Whatsapp</label>
                            <input name="whatsapp" id="whatsapp" onkeypress="$(this).mask('(00) 90000-0000')" placeholder="( ) _ _ _ _ _ - _ _ _ _" minlength="15" required>
                        </div>

                    </div>

                    <div class="textarea-block">
                        <label for="bio">Biografia <small>(Máximo de 350 caracteres)</small></label>
                        <textarea id="myTextarea" name="bio" id="bio" maxlength="350" required></textarea>
                        <div id="view"></div>
                    </div>

                </fieldset>

                <!--Class form here-->
                <fieldset>
                    <legend>Sobre a aula</legend>
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="" hidden="" class="first-option">Selecione qual você quer ensinar</option>

                            {%for subject in subjects%}
                                <option value="{{loop.index}}">
                                    {{subject}}
                                </option>
                            {%endfor%}
                            
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="cost">Custo da sua aula/hora
                        </label>
                        <div class="format-cost">
                            <span>R$</span>
                            <input class="input-cost" name="cost" id="cost" type="number" required>
                        </div>
                    </div>
                </fieldset>

                <!--Class schedule form here-->
                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id='add-time'>+ Novo horário</button>
                    </legend>

                    <div class="schedule-item">
                        
                        <div id="close-container">
                            <div id="close">
                                <img src="/images/icons/times-solid.svg" alt="close" id="close-icon">
                            </div>
                        </div>

                        <div class="select-block">
                            <label for="weekday">Dia Da Semana</label>
                            <select name="weekday[]" required>
                                <option value="" hidden="">Selecione o dia</option>

                                {%for weekday in weekdays %}
                                    <option value="{{loop.index0}}">
                                        {{weekday}}
                                    </option>
                                {%endfor%}

                            </select>
                        </div>

                        <div class="input_time_from input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>

                        <div class="input_time_to input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>

                            <div class="alert-box clone-field">
                                Horário adicionado abaixo
                            </div>

                            <div class="alert-box time_error">
                                Digite um horário inicial menor do que o final!!
                            </div>

                    </div>

                </fieldset>
            </form>

            <!--form submit here-->
            <footer id="footer-container">
                <p>
                    <img src="/images/icons/warning.svg" alt="Aviso importante">
                    Importante! <br>
                    Preencha todos os campos
                </p>
                <button type="submit">Salvar Cadastro</button>
            </footer>
        </main>

        <div class="icon-menu-container" id="menu-button">
            <img class="icon-menu" src="/images/icons/edit-solid.svg" alt="Menu">
        </div>

    </div>

</body>
</html>