<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy - Estudar</title>

    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/partials/header.css">

    <link rel="stylesheet" href="/styles/partials/forms.css">

    <link rel="stylesheet" href="/styles/partials/page-study.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <link rel="shortout icon" href="/images/favicon.png" type="image/png">
    
</head>
<body id='page-study'>

    <div id="container">

        <!--Menu-->
        <header class="page-header">

            <div class="background-top-bar-container">

                <div class="top-bar-container">

                    <a href="/">
                        <img src="/images/icons/back.svg" alt="Voltar">
                    </a>
                    <p>Estudar</p>
                    <img src="/images//logo.svg" alt="Proffy">

                </div>

            </div>

            <div class="header-content">

                <div class="header-content-text">
                    <div class="strong">
                        <strong>Esses são os Proffys disponíveis.</strong>
                    </div>

                    <div class="header-content-text-smile" aria-label="Ver Todos">
                        <div class="header-content-text-smile-center" onclick="selectAllProffys()">
                            <img src="/images/icons/smile.svg" alt="Emoij de Sorriso">
                            <p>Nós temos {{amountProffys}} professores.</p>
                            <img class="to-view" src="/images/icons/eye-solid.svg" alt="Visualizar">
                        </div>
                    </div>
                </div>

                <form id='search-teachers' action="">
                    <!--formulário de pesquisa das matérias aqui-->
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            <option value="" hidden="">Matéria</option>

                            {%for subject in subjects %}
                                <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index  }} >
                                     {{subject}} 
                                </option>
                            {%endfor%}

                        </select>
                    </div>

                    <!--formulário de pesquisa aqui-->
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" hidden="">Dia Da Semana</option>

                            {%for weekday in weekdays %}
                                <option value="{{loop.index0}}" {{ "selected" if filters.weekday == loop.index0  }} >
                                    {{weekday}}
                                </option>
                            {%endfor%}

                        </select>
                    </div>

                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filtrar &nbsp;<img src="/images/icons/filter.svg" alt="Filtrar"></button>
                </form>

            </div>

        </header>

        <!--Publicações-->
        <main>

            {% if proffys == "" %}
                <p class="no-results"> Nenhum professor encontrado com a sua pesquisa. </p>

            {% else %}

                {%for proffy in proffys %}
                        <article class="teacher-item">
                            <header>
                                <img src="{{proffy.avatar}}" alt="{{proffy.name}}">
                                <div>
                                    <strong>{{proffy.name}}</strong>
                                    <span>{{proffy.subject}}</span>
                                </div>
                            </header>
                            <p id='textBio'>{{proffy.bio}}</p>

                            <div class="wrapper">
                                <div class="teacher-schedule">

                                    {% for weekday in weekdays %}
                                        <div id='teacher-schedule-content{{loop.index + proffy.id}}' class="teacher-schedule-content">
                                            <div class="teacher-item-day">
                                                <p>Dia</p>
                                                <strong>{{weekday}}</strong>
                                            </div>

                                            <div class="hour">
                                                <p>Horário</p>
                                                {% if proffy.weekday == weekday %}
                                                    <strong>{{proffy.time_from}}h - {{proffy.time_to}}h</strong>
                                                {% else %}
                                                    <strong> - </strong>
                                                {% endif %}
                                            </div>
                                        </div>
                                            <script>
                                                '{% if proffy.weekday == weekday %}'

                                                    document.getElementById('teacher-schedule-content{{loop.index + proffy.id}}').style.opacity = '100%'

                                                '{% else %}'

                                                    document.getElementById('teacher-schedule-content{{loop.index + proffy.id}}').style.opacity = '50%'

                                                '{% endif %}'
                                            </script>
                                    {% endfor %}

                                </div>
                            </div>

                            <footer>
                                <p>Preço/hora <strong>R$ {{proffy.cost}}</strong></p>
                                <a href="https://api.whatsapp.com/send?l=pt_BR&phone=55{{proffy.whatsapp}}&text=Tenho interesse na sua aula de {{proffy.subject}} {{proffy.name}}" class="button" target="_blank">
                                    <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                                </a>
                            </footer>
                        </article>
                {%endfor%}


        </main>

            <div>
                <p class="container-footer">Estes são todos os resultados</p>
            </div>
            {% endif %}

        <div class="icon-menu-container">
            <img class="icon-menu" src="/images/icons/edit-solid.svg" alt="Editar">
        </div>

    </div>

    <script>
        function selectAllProffys() {
            window.location.href = '/study'
        }      
        
        //'{% for proffy in proffys %}'
        //    console.log('{{proffy.name}}: {{proffy.weekday}}')
        //'{% endfor %}'
    </script>

</body>
</html>