/*
    Cascading
    Em cascata

    Stylesheet
    Folha de Estilo
*/

html {
    /*variáveis no css*/
    --colorBackground: #F0F0F7;
    --colorPrimaryLighter: #9871F5;
    --colorPrimaryLight: #916BEA;
    --colorPrimary: #8257E5;
    --colorPrimaryDark: #774DD6;
    --colorPrimaryDarker: #6842c2;
    --colorSecondary: #04D361;
    --colorSecondaryDark: #04BF58;
    --colorTitleInPrimary: #FFFFFF;
    --colorTextInPrimary: #D4C2FF;
    --colorTextTitle: #32264D;
    --colorTextComplement: #9C98A6;
    --colorTextBase: #6A6180;
    --colorLineInWhite: #E6E6F0;
    --colorInputBackground: #F8F8FC;
    --colorButtonText: #FFFFFF;
    --colorBoxBase: #FFFFFF;
    --colorBoxFooter: #FAFAFC;
    --colorSmallInfo: #C1BCCC;
    --colorCardBackground: #fafafc;
    --colorCardBorder: #c9c9da;
    --colorScrollbar: #9871F5;
    --colorScrollbarDark: #8157e4;
    --colorScrollbarBackground: #e0d7f1;

    /*--colorBackground: #18191a;
    --colorPrimaryLighter: #9871F5;
    --colorPrimaryLight: #764bdb;
    --colorPrimary: #683bd1;
    --colorPrimaryDark: #7247d4;
    --colorPrimaryDarker: #572cbb;
    --colorSecondary: #04D361;
    --colorSecondaryDark: #04BF58;
    --colorTitleInPrimary: #FFFFFF;
    --colorTextInPrimary: #D4C2FF;
    --colorTextTitle: #f1eff7;
    --colorTextComplement: #9C98A6;
    --colorTextBase: #ded8ee;
    --colorLineInWhite: #242526;
    --colorInputBackground: #2c2e30;
    --colorButtonText: #FFFFFF;
    --colorBoxBase: #242526;
    --colorBoxFooter: #2c2e30;
    --colorSmallInfo: #C1BCCC;
    --colorCardBackground: #393d41;
    --colorCardBorder: #2b2d30;
    --colorScrollbar: #683bd1;
    --colorScrollbarDark: #5c33bb;
    --colorScrollbarBackground: #2c2e30;*/

    /*tamanho da fonte*/
    font-size:60%; /*controle das medidas rem*/
    /*tamanho da fonte padrão: 16px -> 100% -> 1rem*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--colorBackground);
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea,
select {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--colorTextBase);
}

#container {
    width: 90vw;
    max-width: 700px;
    /*border: black 1px solid;*/
}

::-webkit-scrollbar-track {
    background-color: var(--colorScrollbarBackground);
}
::-webkit-scrollbar {
    width: 1.2rem;
    height: .5rem;
    background: var(--colorScrollbarBackground);
}
::-webkit-scrollbar-thumb {
    background: var(--colorScrollbar);
    border-radius: .8rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--colorScrollbarDark);
}
::-webkit-scrollbar-button {
    height: 2rem;
}

/*para telas menores*/
@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /*todo rem vai ser relativo a 10px*/
    }
}