.select-block label,
.input-block label,
.textarea-block label {
    font-size: 1.4rem;
    color: var(--colorTextComplement);
}

.select-block select,
.input-block input,
.textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--colorInputBackground);
    border: 1px solid var(--colorLineInWhite);
    outline: 0; /*cor de seleção nas bordas*/
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    min-height: 16rem;
    max-height: 24rem;

    resize: vertical; /*pode fazer o resiza na vertical*/
}

.input-block,
.textarea-block {
    position: relative;
}

.input-block:focus-within::after,
.textarea-block:focus-within::after { /*quando algum elemento dentro dele estiver em foco (será criado uma tag no html chamado de after)*/
    content: ""; /*ele é obrigatório para que isso ocorra*/

    width: calc(100% - 3.2rem); /*ele vai perder 3.2rem de largura da barrinha abaixo através do cálculo (este 3.2rem é a margem lateral do input)*/
    height: 2px; /*altura da barrinha*/
    background: var(--colorPrimaryLight);
    position: absolute; /*ele vai está absoluto sob o pai dele (.input-block), que é relativo aos seus filhos, ou seja, ele fica livre dentre do pai dele que está relativo*/
    left: 1.6rem;
    bottom: 0;
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--colorSmallInfo);
}