.icon-menu-container {
    background-color: #9871F5;
    border-radius: 50%;

    right: 2.1rem;
    bottom: 1.9rem;
    position: fixed;

    width: 6.3rem;
    height: 6.3rem;

    cursor: pointer;
}

.icon-menu {
    right: 3.5rem;
    bottom: 3.5rem;
    position: fixed;

    width: 3.2rem;
    height: 3.2rem;

    cursor: pointer;

    transition: 0.2s;

    opacity: 78%;
}

.icon-menu-container:hover {
    background-color: #9268f5;
}

.icon-menu-container:hover .icon-menu {
    opacity: 100%;
}

.page-header {
    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;

    box-shadow: 5px 0px 6px;
}

.page-header .background-top-bar-container {
    background-color: var(--color-primary-darker);
    box-shadow: 5px 0px 6px;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto; /*as margens laterais ficarão automáticas*/

    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre eles*/

    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container p {
    color: #a283e9;
    font-family: Archivo;
    cursor: default;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 3.2rem auto;

    position: relative;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
    cursor: default;
}

.page-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

/*Para telas maiores*/
@media (min-width: 700px) {

    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        max-width: 740px;

        margin: 0 auto;

        flex: 1 1; /*ele é todo preenchido*/
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }
}